.detail-card {
  background-color: #fff2cc;
  display: flex;
  flex-direction: column;
  margin: 2em;

  @media only screen and (min-width: 800px) {
    flex-direction: row;
  }

  .top {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2em;

    img {
      max-width: 350px;
      width: 100%;
    }
  }

  .bottom {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    padding: 1em;
    width: 100%;
  }

  .item {
    max-width: 500px;
    text-align: center;
  }

  .table {
    background-color: white;
    max-width: 400px;
  }

  .back-button {
    background-color: blue;
    border-radius: 30px;
    color: aliceblue;
    cursor: pointer;
    width: 9em;
  }
}
